.songm {
  background: #f6f6f6;
}
.songm .page-container {
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
}
.songm .page-container .main-content {
  background: #f6f6f6;
  padding-top: 12px;
}
@media screen and (min-width: 768px) {
  .songm .min-width-430 {
    width: 430px;
  }
}
.songm .panel {
  padding: 0px 0px;
}
.songm .panel .panel-heading {
  padding: 15px;
  border-bottom: 1px solid #f5f5f5;
}
.songm .panel .panel-body {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}
.songm .topbar {
  position: relative;
  width: 100%;
  background: white;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  background-clip: content-box;
  z-index: 100;
}
.songm .topbar .topbar-inner {
  position: relative;
  width: 1000px;
  min-height: 52px;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  padding: 0 30px;
}
.songm .topbar .topbar-inner .songm-logo {
  color: #0084ff;
  font-size: 30px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  font-family: "Microsoft YaHei" ! important;
}
.songm .topbar .topbar-inner .navigation {
  display: flex;
  justify-content: space-between;
  height: 30px;
  margin-left: 18px;
  margin-right: 27px;
  color: #999;
}
.songm .topbar .topbar-inner .navigation .nav-item {
  padding: 0 15px;
  font-size: 15px;
  line-height: 30px;
  color: #8590a6;
}
.songm .topbar .topbar-inner .navigation .nav-item:hover {
  color: #2c2e2f;
}
.songm .topbar .topbar-inner .navigation .nav-item.active {
  color: #000000;
}
.songm .topbar .topbar-inner .search-bar .form-group {
  position: relative;
  margin: 0;
}
.songm .topbar .topbar-inner .search-bar .form-group input[type="text"] {
  padding-right: 27px;
}
.songm .topbar .topbar-inner .search-bar .form-group button[type="submit"] {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 32px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;
  color: #0084ff;
  outline: none;
}
.songm .topbar .topbar-inner .user-info {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.songm .topbar .topbar-inner .user-info .profile {
  margin-left: 5px;
}
.songm .topbar .topbar-inner .user-info .profile .btn {
  padding: 0;
  margin: 0;
}
.songm .topbar .topbar-inner .user-info .profile .btn :focus {
  outline: none;
}
.songm .topbar .topbar-inner .user-info .dropdown-menu {
  left: auto;
  right: 0;
  min-width: auto;
  border-radius: 0px;
  box-shadow: 0 5px 20px rgba(26, 26, 26, 0.1);
}
.songm .topbar.fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
}
.songm .regist.page-container {
  max-width: none;
}
.songm .regist.page-container .main-content {
  padding-left: 12px;
  padding-right: 12px;
}
.songm .regist .regist-title {
  color: #b1b1b1;
  margin: 20px 7px 20px 7px;
  font-size: 18px;
  border-bottom: 0px solid #ccc;
}
.songm .account-edit {
  width: 100%;
  display: table;
  table-layout: fixed;
  vertical-align: top;
}
.songm .account-navb {
  display: table-cell;
  position: relative;
  width: 190px;
  height: 100%;
  vertical-align: top;
}
.songm .account-navb .user-avatar {
  border: 4px solid #fff;
  border-radius: 8px;
  display: inline-block;
  margin-bottom: 17px;
}
.songm .account-navb .user-avatar .avatar-inner {
  border-radius: 8px;
}
.songm .account-navb .nav-bar li.active > a {
  color: #2c2e2f;
}
.songm .account-navb .nav-bar li a {
  display: block;
  padding: 10px 5px 10px 20px;
  border-bottom: 1px solid #dddddd;
  color: #7d7f7f;
}
.songm .account-content {
  display: table-cell;
  position: relative;
  height: 100%;
  vertical-align: top;
}
.songm .book-img-wrapper {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 6px;
}
.songm .label-s {
  padding: 5px 8px;
  margin: 0 10px 10px 0;
  border-radius: 4px;
  background-color: #f6f6f6;
  font-size: 14px;
  color: #999;
  font-weight: normal;
  display: inline-block;
}
.songm .songm-foot {
  font-size: 12px;
  padding-top: 30px;
  padding-bottom: 2px;
}
.songm .search-container {
  width: 100%;
  display: table;
  table-layout: fixed;
  vertical-align: top;
}
.songm .search-container .search-container-body {
  display: table-cell;
  position: relative;
  height: 100%;
  vertical-align: top;
}
.songm .search-container .search-container-sidebar {
  display: table-cell;
  position: relative;
  width: 260px;
  height: 100%;
  vertical-align: top;
}
.songm .search-container .search-container-sidebar .panel {
  margin-left: 10px;
}
.songm .search-container .search-container-sidebar .panel a {
  color: #979898;
}
.songm .search-container .search-container-sidebar .panel .line-height-default li {
  line-height: 2;
  padding-top: 5px;
}
.songm .search-container .search-container-sidebar .panel .line-height-default li:first {
  padding-top: 0;
}
.songm .book-container {
  width: 100%;
  display: table;
  table-layout: fixed;
  vertical-align: top;
}
.songm .book-container .book-container-body {
  display: table-cell;
  position: relative;
  height: 100%;
  vertical-align: top;
}
.songm .book-container .book-container-sidebar {
  display: table-cell;
  position: relative;
  width: 260px;
  height: 100%;
  vertical-align: top;
}
.songm .book-container .book-container-sidebar .panel {
  margin-left: 10px;
}
.songm .book-container .book-container-sidebar .panel a {
  color: #979898;
}
.songm .book-container .book-container-sidebar .panel .line-height-default li {
  line-height: 2;
  padding-top: 5px;
}
.songm .book-container .book-container-sidebar .panel .line-height-default li:first {
  padding-top: 0;
}
